<div class="education-container">
    <h2>Educación</h2>
  
    <div class="education-item">
      <div class="education-header">
        <span class="degree">Preparatoria:</span>
        <span class="institution"> Computación Fiscal Contable - Universidad de Sotavento</span>
      </div>
      <div class="education-year">
        <span>2019 - 2022</span>
      </div>
    </div>
  
    <div class="education-item">
      <div class="education-header">
        <span class="degree">Licenciatura:</span>
        <span class="institution"> Ingeniería en Software - Universidad Veracruzana</span>
      </div>
      <div class="education-year">
        <span>2022 - Presente</span>
      </div>
    </div>
  </div>
  