<div class="header-container">
    <div class="info-section">
      <p class="name">Estefania Rodriguez Barragan</p>
      <p class="title">Estudiante de ISW 5to Semestre</p>
      <p class="goal">Futura project manager</p>
    </div>
  
    <div class="image-section">
      <img src="https://firebasestorage.googleapis.com/v0/b/unsplash-api-f55a8.appspot.com/o/JavaScript%2FImagenes%2Ffotomia.jpg?alt=media&token=67ca7484-57eb-4d58-b46f-16b50843620c" alt="Estefania Rodriguez">
    </div>
  
    <div class="contact-section">
        <ul>
          <li>
            estefania.rguezb21&#64;gmail.com
            <img src="https://firebasestorage.googleapis.com/v0/b/unsplash-api-f55a8.appspot.com/o/JavaScript%2FImagenes%2Fcv%2Fcorreo.png?alt=media&token=944c432a-c3b1-4c64-aa3b-90b18e1b1e2d" alt="Correo" class="icon">
          </li>
          <li>
            2721238648
            <img src="https://firebasestorage.googleapis.com/v0/b/unsplash-api-f55a8.appspot.com/o/JavaScript%2FImagenes%2Fcv%2Ftelefono1.png?alt=media&token=4b296e18-6351-42e1-a010-55dc616ce05c" alt="Teléfono" class="icon">
          </li>
          <li>
            Orizaba, Veracruz
            <img src="https://firebasestorage.googleapis.com/v0/b/unsplash-api-f55a8.appspot.com/o/JavaScript%2FImagenes%2Fcv%2Fubicacion.png?alt=media&token=86eeca2c-1523-489a-86c5-940d1d7968db" alt="Ubicación" class="icon">
          </li>
          <li>
            &#64;fany.rodrigz
            <img src="https://firebasestorage.googleapis.com/v0/b/unsplash-api-f55a8.appspot.com/o/JavaScript%2FImagenes%2Fcv%2Finstagram.png?alt=media&token=c17cf92e-ec2b-460e-b6e3-b127fa7207bc" alt="Instagram" class="icon instagram-icon">
          </li>
        </ul>
      </div>
      
  </div>
  