<div class="skills-container">
    <h2>Habilidades & Competencias</h2>
    <div class="skills">
      <span class="skill-badge">Gestión ágil</span>
      <span class="skill-badge">Marketing</span>
      <span class="skill-badge">Negociación hábil</span>
      <span class="skill-badge">Toma de decisiones</span>
      <span class="skill-badge">Resiliencia</span>
      <span class="skill-badge">Enfoque al futuro</span>
      <span class="skill-badge">Liderazgo</span>
      <span class="skill-badge">Creatividad</span>
      <span class="skill-badge">Gestión del tiempo</span>
      <span class="skill-badge">Persistencia</span>
      <span class="skill-badge">Convertir ideas en empresas</span>
      <span class="skill-badge">Pensamiento a largo plazo</span>
    </div>
  </div>
  