<div class="main-container">
    <app-header></app-header>
  
    <div class="content">
      <div class="work-experience-container">
        <app-work-experience></app-work-experience>
      </div>
  
      <div class="skills-container">
        <app-skill></app-skill>
      </div>
    </div>
  
    <div class="content">
      <div class="education-container">
        <app-education></app-education>
      </div>
  
      <div class="achievements-container">
        <app-achievements></app-achievements>
      </div>
    </div>

    <div class="content">
        <div class="languages-container">
          <app-languages></app-languages>
        </div>
    
        <div class="another-component">
          <!-- Aquí puedes añadir el otro componente que desees -->
        </div>
      </div>
  </div>