<div class="work-experience-container">
    <h2>Experiencia Laboral</h2>
  
    <div class="job">
      <div class="job-header">
        <span>2022-2023</span>
        <span>Orizaba, Veracruz</span>
      </div>
      <div class="job-title">
        <strong>Atención al cliente y gestor de ventas</strong> - The Sokks
      </div>
      <div class="job-accomplishments">
        <em>Logros:</em>
        <ul>
          <li>Creación de un sistema de gestión de ventas con guías de envío automáticas</li>
          <li>Gestión de pedidos y rastreo de envíos</li>
          <li>Atención al cliente excelente</li>
        </ul>
      </div>
    </div>
  
    <div class="job">
      <div class="job-header">
        <span>2023-2024</span>
        <span>Orizaba, Veracruz</span>
      </div>
      <div class="job-title">
        <strong>Frontend Developer</strong> - Ecommerce S.A. de C.V.
      </div>
      <div class="job-accomplishments">
        <em>Logros:</em>
        <ul>
          <li>Creación de un URM para gestionar los proyectos de Ecommerce</li>
          <li>Creación de 10 páginas web para Pymes</li>
        </ul>
      </div>
    </div>
  </div>
  